[Unit]
Description=Voice Present
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u present.py
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

